################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PowerPositionLoader/bin/Debug/net6.0
/PowerPositionLoader/obj
/.vs
/PowerPostionLoader.Tests/bin
/PowerPostionLoader.Tests/obj
